#info
    margin-top: -20rem
    margin-left: 35rem

    .card
        height: 6rem
    
    hr 
        display: flex
        justify-content: flex-end
        margin-left: 0px
        margin-bottom: 0px
        width: 50%